<div class="banner page-width">
    <div class="banner__left">
        <h1 class="banner__title">Spočítajte <br>si hypotéku</h1>
        <p class="banner__descr">Pomôžeme vám s sporením<br>
            Sme tu na to, aby sme Vám poradili a pomohli. Porovnávame,<br> počítame a vyberáme tie najlepšie hypoteky
            priamo pre Vás.
        </p>
        <a href="./steps.html" class="banner__link btn">Pokračovať</a>
    </div>
    <div class="banner__left">
        <video src="videofile.ogg" autoplay poster="../img/poster-video.jpeg">
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a href="videofile.ogg">download it</a>
            and watch it with your favorite video player!
        </video>
    </div>
</div>