<footer class="footer">
    <nav class="footer__nav page-width">
        <img src="../img/HYPOmango-logo-new.png" class="footer__logo" alt="HypoMango logo">
        <div class="footer__nav-wrap">
            <ul>
                <li class="subtitle">Služby a produkty</li>
                <li><a class="footer__link" href="">Hypotéky</a></li>
            </ul>
            <ul>
                <li class="subtitle">HypoMango</li>
                <li><a class="footer__link" href="">O nás</a></li>
                <li><a class="footer__link" href="./index.html#prečo">Prečo HypoMango</a></li>
                <li><a class="footer__link" href="./index.html#contact-form">Kontakt</a></li>
            </ul>
            <ul>
                <li class="subtitle">Dôležité</li>
                <li><a class="footer__link" href="./podmienky.html">Podmienky</a></li>
                <li><a class="footer__link" href="./podmienky.html#ochrana">Ochrana osobných údajov
                    </a></li>
            </ul>
        </div>
    </nav>
</footer>