<section class="form" id="contact-form">
    <div class="form__wrap page-width">
        <div class="form__left">
            <h2 class="title">Nenašli ste konkrétny produkt alebo máte nejaké otázky?</h2>
            <p class="form__text">Neváhajte nás kontaktovať a spýtať sa jedného z našich ochotných Patrónov</p>
            <div class="form__left-links">
                <a href="tel:+421 915 999 377">+421 915 999 377</a>
                <a href="mailto:info@patronfinance.sk">info@patronfinance.sk</a>
                <a href="https://goo.gl/maps/UPADqB2hH8yLRUpJA" target="_blank">Patron finance s.r.o<br>
                    Makovskeho 1177/1, 163 00 Praha 6<br>
                    ICO: 03909824</a>
            </div>
        </div>
        <div class="form__right">
            <form action="POST" class="form__form">
                <h4 class="title">Alebo nám jednoducho napíšte</h4>
                <input class="form__input" type="text" placeholder="Vaše meno a priezvisko" required>
                <input class="form__input" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Telefón"
                    required>
                <input class="form__input" type="mail" placeholder="E-mail" required>
                <input class="form__input" type="text" placeholder="Vaša správa" required>
                <input class="btn form__submit" type="submit" value="Odoslať správu">
            </form>
        </div>
    </div>
</section>