<header>
    <nav class="navigation navigation--desktop page-width">
        <ul class="navigation__lists">
            <li><a href="/"><img class="navigation__logo" src="../img/HYPOmango-logo.png" alt="HYPOmango" /></a></li>
            <li class="navigation__list"><a href="#prečo">Prečo HypoMango</a></li>
            <li class="navigation__list"><a href="#contact-form">Kontakt</a></li>
        </ul>
    </nav>
    <nav class="navigation navigation--mobile page-width">
        <div class="navigation__menu" id="menu">
            <span class="navigation__menu-line"></span>
            <span class="navigation__menu-line"></span>
            <span class="navigation__menu-line"></span>
        </div>
        <a href="/"><img class="navigation__logo" src="../img/HYPOmango-logo.png" alt="HYPOmango" /></a>
        <div class="navigation__mob-menu" id="menu-list">
            <ul class="navigation__mob-lists">
                <li class="navigation__list"><a href="#prečo">Prečo HypoMango</a></li>
                <li class="navigation__list"><a href="#contact-form">Kontakt</a></li>
            </ul>
        </div>
    </nav>
</header>