<section class="step-2 page-width steps_section" data-level="4">
    <div class="step__wrap">
        <div class="step__range">
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item active"></span>
            <span class="step__range-item"></span>
            <span class="step__range-item"></span>
            <span class="step__range-item"></span>
            <span class="step__range-item"></span>
        </div>
        <h2 class="step__subtitle">
            Typ nehnutelnosti
        </h2>
        <div class="step__labels">
            <input class="step__checkbox" type="radio" id="typeChoice1" name="contact" value="Byt" checked>
            <label class="step__label" for="typeChoice1">byt</label>

            <input class="step__checkbox" type="radio" id="typeChoice2" name="contact" value="Dom">
            <label class="step__label" for="typeChoice2">DOM</label>

            <input class="step__checkbox" type="radio" id="typeChoice3" name="contact" value="Chata">
            <label class="step__label" for="typeChoice3">chata</label>

            <input class="step__checkbox" type="radio" id="typeChoice4" name="contact" value="Apartmán">
            <label class="step__label" for="typeChoice4">apartmán</label>
        </div>
        <div class="step__btns step__btns--4">
            <span class=" btn btn--step-white btn-prev" data-prev="3">späť’</span>
            <span class="btn btn--step-black btn-next active" data-next="5">dopredu</span>
        </div>
    </div>
</section>