<section class="step-2 page-width steps_section" data-level="9">
    <div class="step__wrap">
        <h2 class="step__subtitle no-margin">
            Už len posledý krok
        </h2>
        <div class="step__inputs">
            <input class="step__email" id="name" type="text" placeholder="Vaše meno a priezvisko">
            <input class="step__email" id="tel" type="tel" placeholder="Telefon">
            <input class="step__email" id="psc" type="number" placeholder="PSČ">
        </div>
        <div class="step__btns step__btns--9">
            <span class="btn btn--step-black btn-next" data-next="10" id="submit">Odoslat'</span>
        </div>
    </div>
</section>