<section class="step-2 page-width steps_section" data-level="7">
    <div class="step__wrap">
        <div class="step__range">
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item active"></span>
            <span class="step__range-item"></span>
        </div>
        <h2 class="step__subtitle">
            Kolko % z hodnoty požadujete?
        </h2>
        <div class="step__labels step__labels--percent">
            <input class="step__checkbox" type="radio" id="percentChoice1" name="percent" value="50%" checked>
            <label class="step__label" for="percentChoice1">50%</label>

            <input class="step__checkbox" type="radio" id="percentChoice2" name="percent" value="60%">
            <label class="step__label" for="percentChoice2">60%</label>

            <input class="step__checkbox" type="radio" id="percentChoice3" name="percent" value="70%">
            <label class="step__label" for="percentChoice3">70%</label>
            <input class="step__checkbox" type="radio" id="percentChoice4" name="percent" value="80%">
            <label class="step__label" for="percentChoice4">80%</label>

            <input class="step__checkbox" type="radio" id="percentChoice5" name="percent" value="90%">
            <label class="step__label" for="percentChoice5">90%</label>

            <input class="step__checkbox" type="radio" id="percentChoice6" name="percent" value="100%">
            <label class="step__label" for="percentChoice6">100%</label>
        </div>
        <div class="step__btns step__btns--7">
            <span class=" btn btn--step-white btn-prev" data-prev="6">späť’</span>
            <span class="btn btn--step-black btn-next active" data-next="8">dopredu</span>
        </div>
    </div>
</section>