<section class="step-2 page-width steps_section" data-level="8">
    <div class="step__wrap">
        <div class="step__range">
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item focus"></span>
            <span class="step__range-item active"></span>
        </div>
        <h2 class="step__subtitle">
            Bližšie info Vám pride do mailu a alebo Vás bude kontaktovať Vas špecialista
        </h2>
        <input class="step__email" id="email" type="email" placeholder="vas@email.sk">
        <div class="step__btns step__btns--8">
            <span class="btn btn--step-black btn-next" data-next="9">Pokračovať</span>
        </div>
    </div>
</section>