<section class="visit" id="prečo">
    <div class="visit__wrap page-width">
        <h2 class="title">Prečo využiť <span>HypoMango?</span></h2>
        <ul class="visit__items">
            <li class="visit__item">
                <span class="visit__num title">1</span>
                <p class="visit__text">Porovnáme pre Vás najlepšie ponuky finančných produktov na trhu</p>
            </li>
            <li class="visit__item">
                <span class="visit__num title">3</span>
                <p class="visit__text">Prevedieme Vás bludiskom finančných produktov</p>
            </li>
        </ul>
        <ul class="visit__items">
            <li class="visit__item">
                <span class="visit__num title">2</span>
                <p class="visit__text">Jeden z našich Patronov upraví ponuky finančných inštitúcií priamo Vám na mieru
                </p>
            </li>
            <li class="visit__item">
                <span class="visit__num title">4</span>
                <p class="visit__text">Chránime Vaše záujmy vo svete financií</p>
            </li>
        </ul>
    </div>
</section>